<div class="col-md-12" align="center">


        <form name="form" class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-2">Image:</label>
                <div class="col-sm-6">
                    <div class="col-md-8">
                        <input style="height: auto" class="form-control"
                                type="file"
                                ngf-select
                                ng-model="vm.file"
                                name="file"
                                ngf-pattern="'image/*'"
                                accept="image/*"
                                ngf-max-size="5MB"
                               required
                        />
                        <!--<input   style="height: auto" class="form-control"-->
                                 <!--type="file"-->
                                 <!--ngf-select-->
                                 <!--ng-model="vm.file"-->
                                 <!--name="file"-->
                                 <!--ngf-pattern="'image/*'"-->
                                 <!--accept="image/*"-->
                                 <!--ngf-max-size="20MB" />-->

                        <span	id="imgError" style="color: red;"> </span> <br />  <br />
                        <img height="200px" width="150px" ngf-src="vm.file" class="thumb">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name:</label>
                        <div class="col-sm-4">
                            <input id="nameSave"  maxlength=16 type="text"
                                   name="name" class="form-control" ng-model="vm.name" value="" placeholder="Name">
                            <span style="color: red;" id="nameError" required> </span> </span>
                            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Brand:</label>
                        <div class="col-sm-4">
                            <input value="" id="brandSave" maxlength=22 type="text"
                                   name="brand" class="form-control" ng-model="vm.brand"
                                   placeholder="Brand" required> <span
                                style="color: red;" id="brandError"> </span>
                            <span ng-show="form.brand.$dirty && form.brand.$error.required" class="help-block">Brand is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Short Text:</label>
                        <div class="col-sm-4">
						 <textarea id="shortText" maxlength="48"  class="form-control" name="shortText"
                                          ng-model="vm.shortText"
                                          placeholder="Short_Text" value="" required></textarea>
                            <span style="color: red;" id="shortTextError"> </span>
                            <span ng-show="form.shortText.$dirty && form.shortText.$error.required" class="help-block">Short Text is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Status:</label>
                        <div class="col-sm-4">
                            <input id="status" maxlength=4 type="text" name="status"
                                   class="form-control" ng-model="vm.status" value=" "	placeholder="Status" required>
                            <span id="statusError"    style="color: red;"> </span>
                            <span ng-show="form.status.$dirty && form.status.$error.required" class="help-block">Status is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Description:</label>
                        <div class="col-sm-4">

								<textarea id="descriptionSave" maxlength=44 type="text" value=""
                                          name="description" class="form-control"
                                          ng-model="vm.description" placeholder="description" required></textarea>
                            <span style="color: red" id="descriptionError"> </span>
                            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Description is required</span>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id" class="form-control" value=""ng-model="vm.id"  />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <br /> <br />
                            <!--<input id="btnSave" class="btn btn-primary" name="submit" type="submit" value="Save">-->
                            <button class="btn btn-primary" type="submit" ng-click="vm.submit()"  ng-disabled="form.$invalid">submit</button>
                            <p>{{vm.progress}}</p>
                        </div>
                    </div>

                </div>
            </div>
            </form>
     </div>






