<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="phone-images">
      <img  width="200" height="250px" ng-src="{{mainImageUrl}}">
    </div>
    <ul class="phone-thumbs list-unstyled">
      <li ng-repeat="img in phone.images">
        <img  ng-src="{{img}}" ng-click="setImage(img)">
        {{getProductDetailList}}
      </li>
      <li ng-repeat="image in getProductDetaiImagelList">
        <img ng-src="{{image.RESOURCE}}" ng-click="setImage(image.RESOURCE)">
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-8">
    <div  ng-repeat="det in getProductDetailList"  ng-init="vm.rating = det.CURRENT_SCORE" >
      <h1>{{det.NAME}}</h1>
      <p>{{det.DESCRIPTION}}</p>
      <div  class="star-rating col-md-3" star-rating rating-value="vm.rating=vm.rating" data-max="5" >
       </div>
      <div class="col-md-1">
        <span ng-if="det.CURRENT_SCORE >4">Good</span>
        <span ng-if="det.CURRENT_SCORE ==3">Normal</span>
        <span ng-if="det.CURRENT_SCORE <3">Bad</span>
        <br>

      </div><br>

      <br>
    </div>   <br>

    <div >


        <a ng-click="addReviewHide=true; vm.review='';"style="margin-left: 40px"   role="button">Write Review</a>
      <!--<a  style="margin-left: 10px"class="btn btn-default" href="#/phones/{{product.PRODUCT_ID}}" role="button">Folow/Unfolow</a>-->

        <a  class="buttonFollow" ng-class="{'activeFollow': isActive}" ng-click=" isActive = !isActive;vm.followProduct()" type="button">Folow/Unfolow</a>
      <!--<button ng-class="{'activeFollow': isActive}" ng-hide="isActive"href="#" ng-click=" isActive = !isActive" type="button"  >-->
        <!--<span class="glyphicon glyphicon-thumbs-up"></span> Like-->
      <!--</button>-->
      <!--<button ng-class="{'activeFollow': isActive}" href="#" ng-show="isActive" ng-click=" isActive = !isActive" type="button" >-->
        <!--<span class="glyphicon glyphicon-thumbs-down"></span> Like-->
      <!--</button>-->
      <!--<a ng-show="isActive"href="#" ng-click=" isActive = !isActive">-->
        <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
      <!--</a>-->
      <!--<a ng-hide="isActive"href="#" ng-click=" isActive = !isActive">-->
        <!--<span class="glyphicon glyphicon-thumbs-down"></span>-->
      <!--</a>-->
    </div>
<!--addReview-->
    <div style="margin-top: 20px" ng-hide="!addReviewHide">

      <!--Upload on form submit or button click-->
      <!--<form ng-app="fileUpload"  name="form">-->
        <!--&lt;!&ndash;Single Image with validations&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"&ndash;&gt;-->
             <!--&lt;!&ndash;ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"&ndash;&gt;-->
             <!--&lt;!&ndash;ngf-resize="{width: 500, height: 500}">Select</div>&ndash;&gt;-->
        <!--&lt;!&ndash;Multiple files&ndash;&gt;-->
        <!--<input class="button" name="reviewPhoto" ngf-select ng-model="files" ngf-multiple="true">Select</input>-->
        <!--Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
        <!--&lt;!&ndash;<button type="submit" ng-click="submit()">submit</button>&ndash;&gt;-->
      <!--</form>-->

      <!--Upload right away after file selection:-->
      <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
      <!--<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>-->
      <!--Drop File:-->
      <!--<div ngf-drop="uploadFiles($files)" class="drop-box"-->
           <!--ngf-drag-over-class="'dragover'" ngf-multiple="true"-->
           <!--ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>-->
      <!--<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->











      <form    id="uploadForm"
            enctype="multipart/form-data"
            action="/api/photo3"
            ng-model="vm.file"
            method="post"   >
        <input type="file" name="reviewPhoto"  ngf-select ng-model="files" ngf-multiple="true" data-max="3" multiple required />
        <input type="hidden" name="id" id="Id" class="form-control" value={{vm.productId}}  />

       <br>

        <span id = "status"></span>
        <table style="width:100%">
          <tr ng-repeat="file in files">
            <td> <img width="60px" height="80px"  ngf-thumbnail="file || '/thumb.jpg'"></td>
            <td> <button type="submit"   ng-disabled="reviewPhoto.$invalid" class="btn btn-primary" ng-click="addReviewHide=false">Save</button>
            </td>
            <td> <button type="submit" class="btn btn-primary"  >Delete</button></td>
          </tr>

        </table>
        <!--<input type="submit" value="Upload Image" name="submit">-->
        <button type="submit"   ng-disabled="reviewPhoto.$invalid" class="btn btn-primary" ng-click="addReviewHide=false">Submit</button>

      </form>

      <form name="form" class="form-horizontal"  ng-submit="vm.reviewDiscription()">
        <div style="font-size: 30px" class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
        <br>



        <fieldset  class="form-group">
          <label for="review">Review</label>
          <textarea name="review"  ng-model="vm.review"   class="form-control" id="review" rows="10" required></textarea>
        </fieldset>
        <span ng-show="form.review.$dirty && form.review.$error.required" class="help-block">Review is required</span>

        <button type="submit"   ng-disabled="form.$invalid" class="btn btn-primary" ng-click="addReviewHide=false">Submit</button>
        <button type="submit" class="btn btn-primary" ng-click="addReviewHide=false">Close</button>

      </form>
    </div>
    <!--endadd review-->
    <!--tabs-->
    <div ng-hide="addReviewHid
    e" style="padding: 30px;width: 1000px" class="container" ng-init="vm.reviewData()" >
      <ul class="nav nav-tabs" role="tablist">
        <li ng-class="active"  ng-click="active='active';active2='';active3='';;active1=''"><a ng-click="hidden=false;hidden2=true;hidden3=true;hidden1=true"    role="tab" data-toggle="tab">Review</a></li>
        <li ng-class="active1" ng-click="active1='active';active2='';active3='';active=''"><a ng-click="hidden1=false;hidden=true;hidden2=true;hidden3=true"  role="tab" data-toggle="tab">User Pics</a></li>
        <li ng-class="active2" ng-click="active2='active';active1='';active3='';active=''"><a ng-click="hidden2=false;hidden=true;hidden3=true;hidden1=true"   role="tab" data-toggle="tab">Additional Info</a></li>
        <li ng-class="active3" ng-click="active3='active';active2='';active='';active1=''"><a  ng-click="hidden3=false;hidden=true;hidden2=true;hidden1=true"   role="tab" data-toggle="tab">External Review</a></li>
      </ul>

      <!--Review-->
        <div ng-hide="hidden"class="row"  ng-repeat="det in getProductDetaiReviewList"  ng-init="rating = det.CURRENT_RATE">

            <table class="table">
              <tbody>
              <tr>
                <td>
                  <div class="col-md-1">
                    <img  width="50px" height="75px" ng-src="{{det.AVATAR}}">
                    {{det.NAME}}
                  </div>
                  <div   class="col-md-4">
                    <div class="col-md-6" class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"> </div>
                    <div class="col-md-1" style="margin-top:8px">{{det.CURRENT_SCORE}}</div>
                  </div>
                  <div class="col-md-2">
                    {{det.LIKES_CNT}}/{{det.DISLIKE_CNT}}
                    <a  href="" ng-click="like(det.ID)">
                      <span class="glyphicon glyphicon-thumbs-up">  </span>
                    </a>/
                    <a href="" ng-click=" disLike(det.ID)">
                      <span class="glyphicon glyphicon-thumbs-down">  </span>
                    </a>
                  </div>
                  <br>
                  <div class="col-md-8">{{det.REVIEW_TEXT}} </div>
                </td>
              </tr>
              </tbody>
            </table>

        </div>
    <!--Review END-->

     <!--USER PIC-->
      <div ng-hide="hidden1" class="row col-md-8"  >
        <div class="col-xs-6 col-md-4" ng-repeat="image in getProductDetaiImagelList">
          <img width="120px" height="175px" ng-src="{{image.RESOURCE}}"   style="margin-top:10px">
        </div>
      </div>
     <!--USER PIC END-->

      <!--ADDITIONAL INFO-->
      <div  ng-hide="hidden2"    class="row"  ng-repeat="det in getProductDetaiReviewList"  ng-init="rating = det.CURRENT_SCORE">
        <div class="col-md-1">
          <img  width="50px" height="75px" ng-src="{{mainImageUrl}}">
          {{det.NAME}}
        </div>
        <div   class="col-md-8">
          <div  class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
          {{det.CURRENT_SCORE}}
        </div>
        <div class="col-md-6">{{det.DESCRIPTION}} </div>
      </div>
      <!--ADDITIONAL INFO END-->

      <!--External Review-->
      <div ng-hide="hidden3" class="row"  ng-repeat="det in getProductDetaiReviewList"  ng-init="rating = det.CURRENT_SCORE">
        <div class="col-md-1">
          <img  width="50px" height="75px" ng-src="{{mainImageUrl}}">
          {{det.NAME}}
        </div>
        <div class="container">
        <div   class="col-md-4">
          <div  class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"> </div>
          {{det.CURRENT_SCORE}}
        </div>
          <div class="col-md-1" ><h1 align="right">LOGO</h1></div>
        </div>
        <div class="col-md-6">'Content here, content here', making it look like readable English. Man{{det.DESCRIPTION}} </div>
      </div>
      <!--External Review END-->
  </div>
 </div>
  </div>